<html><head>

<style>

.container {

position: relative;

}.topright {

position: absolute;

top: 8px;

right: 16px;

font-size: 18px;

}img {

width: 100%;

height: auto;

opacity: 0.3;

}

</style>

</head>
<body>
<h1>Welcome in schronisko portal</h1>
<div class="topright"><%= link_to "create order", "/create_order" %>
                      <%= link_to "list orders", controller: 'orders' %>
                      <%= link_to "your profile", "/profile" %>
</div>

<%=image_tag("unnamed.png", alt: "Example Image")%>

</body>