<p id="notice"><%= notice %></p>

<p>
  <strong>Orders number:</strong>
  <%= @class_variable.orders_number %>
</p>

<%= link_to 'Edit', edit_class_variable_path(@class_variable) %> |
<%= link_to 'Back', class_variables_path %>
